
  <ion-split-pane *ngIf="!isloading" contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Safe Runner</ion-list-header>
          <ion-note>{{user.email}}</ion-note>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="['/home', 'scanner']" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="'home-outline'" [md]="'home-sharp'"></ion-icon>
              <ion-label>Home</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="['/home', 'settings']" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="'settings-outline'" [md]="'settings-sharp'"></ion-icon>
              <ion-label>Settings</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerLink]="['/', 'login']" (click)="logout()" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="'log-out-outline'" [md]="'log-out-sharp'"></ion-icon>
              <ion-label>Logout</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
