<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header *ngIf="!isScanning">
  <ion-button expand="full" (click)="startScanner()">
    <ion-icon name="scan" slot="start"></ion-icon>Scan
  </ion-button>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="isScanning" [style.--background]="'#00000000'">
  <ion-button expand="full" (click)="stopScan()">Close</ion-button>
</ion-content>


<ion-content *ngIf="!isScanning">

  <div class="empty-state" *ngIf="!(user.vehicleGuid.length && user.vehicle)">
      <ion-card-header>
        <ion-label>
          <ion-icon name="qr-code-outline"></ion-icon>
        </ion-label>
        <ion-label class="header-text"><b>No QR codes found!</b></ion-label>
        <ion-label>Click on the scan button to start scanning</ion-label>
      </ion-card-header>
  </div>

  <ion-accordion-group *ngIf="user.vehicleGuid.length && user.vehicle">
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Vehicle Info</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <b>Name:</b> {{user.vehicle.name}}
        <br>
        <b *ngIf="!user.isMultiUserVehicle">Plate Number:</b> {{user.vehicle.plateNumber}}
        <br *ngIf="!user.isMultiUserVehicle">
        <b>Total Codes:</b> {{user.scannedCodes.length}}
        <br>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <ng-container *ngFor="let item of user.scannedCodes">
    <ion-card [class.success]="item.checked && !item.hasIssue" [class.fail]="item.checked && item.hasIssue">
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col class="ion-text-start">
              <ion-card-subtitle>Task Name</ion-card-subtitle>
              <ion-card-title>{{item.title}}</ion-card-title>
            </ion-col>
            <ion-col class="ion-text-end">
              <ion-card-subtitle>Status</ion-card-subtitle>
              <ion-card-title style="color:#229954;" *ngIf="item.checked && !item.hasIssue">Approved</ion-card-title>
              <ion-card-title style="color:#B03A2E;" *ngIf="item.checked && item.hasIssue">Rejected</ion-card-title>
              <ion-card-title *ngIf="!item.checked">To be checked</ion-card-title>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>

      <ion-card-content>
        <span *ngIf="item.hasIssue"><b>Issue Desc:</b> {{item.issueDesc}}</span>
        <br>
        <b>Checked Time:</b> {{getDate(item.dateTime)}}
      </ion-card-content>
    </ion-card>
  </ng-container>

</ion-content>

<ion-footer *ngIf="!isScanning && user.vehicleGuid.length">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button [disabled]="!checkIfSubmitAllowed()" expand="full" (click)="initiateSubmitReport()">Submit</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" (click)="cancelScanner()">Cancel</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
