<ion-content [fullscreen]="true" [style.--background]="'var(--ion-color-primary)'">
    <div style="height: 100%; display: flex; align-items: center; justify-content: center;">
			<ion-card>
				<ion-card-header>
					<ion-card-title class="ion-text-center">Safe Runner</ion-card-title>
				</ion-card-header>

				<ion-card-content>
					<ion-item lines="none">
						<ion-label position="stacked">Email</ion-label>
						<ion-input
							type="email"
							placeholder="Email"
							name="email"
							[(ngModel)]="credentials.email"
						></ion-input>
					</ion-item>

					<ion-item lines="none">
						<ion-label position="stacked">Password</ion-label>
						<ion-input
							type="password"
							placeholder="Password"
							name="password"
							[(ngModel)]="credentials.password"
						></ion-input>
						<br />
					</ion-item>

					<ion-button [style.--background]="'var(--ion-color-primary)'" expand="block" (click)="login()">Login</ion-button>

				</ion-card-content>
			</ion-card>
    </div>
</ion-content>
